[ng-cloak] {
  display: none;
}
h1 {
  margin-bottom: 40px;
}
.add-form {
  margin-bottom: 40px;
}
.filters {
  color: #3778ff;
}
.filters li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.to-do-table .date {
  min-width: 100px;
}
.to-do-table tbody tr {
  background: #fff;
  transition: 150ms;
}
.to-do-table tbody tr td {
  padding: 13px 8px!important;
}
.to-do-table tbody tr .item-text {
  width: 80%;
  display: block;
}
.to-do-table tbody tr .btn {
  opacity: 0;
  transition: 150ms;
}
.to-do-table tbody tr:hover {
  background: #f9f9f9;
}
.to-do-table tbody tr:hover .btn {
  opacity: 1;
}
.to-do-table tbody tr.completed {
  opacity: 0.3;
  background: rgba(206, 255, 74, 0.49);
}
.to-do-table tbody tr.completed:hover {
  opacity: 1;
  -webkit-transition: 100 ms;
  -moz-transition: 100 ms ;
  -ms-transition: 100 ms ;
  -o-transition: 100 ms ;
  transition: 100 ms ;
}
