[ng-cloak] {
  display: none;
}

h1 {
  margin-bottom: 40px;
}

.add-form {
  margin-bottom: 40px;
}


.filters {
  color: #3778ff;
  li {
      &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.to-do-table {
  .date {
    min-width: 100px;
  }

  tbody {
    tr {
      background: #fff;
      transition: 150ms;
      td {
        padding: 13px 8px!important;
      }
      .item-text {
        width: 80%;
        display: block;
      }
      .btn {
        opacity: 0;
        transition: 150ms;
      }
      &:hover {
        background: #f9f9f9;
        .btn {
          opacity: 1;
        }
        }
      &.completed {
        opacity: 0.3;
          background: rgba(206, 255, 74, 0.49);
        &:hover {
          opacity: 1;
          -webkit-transition: 100 ms;
          -moz-transition: 100 ms ;
          -ms-transition: 100 ms ;
          -o-transition: 100 ms ;
          transition: 100 ms ;
        }

      }
    }

  }
}