<!DOCTYPE html>
<html lang="en" ng-app="ToDoApp"  data-framework="firebase">
<head>
    <meta charset="UTF-8">
    <title>TODO list - improve your life and get things done!</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body ng-controller="MainController">
<div class="container"  >
    <div class="row">
        <h1 class="text-center">The magic To-Do list</h1>
    </div>
    <div class="row add-form">
        <div class="col-md-5 col-md-offset-3">
            <form ng-submit="addItem()">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">To Do:</div>
                        <input type="text" class="form-control input-lg" placeholder="Save the world, for example" ng-model="newItem"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary btn-lg" ng-click="addItem()">Add</button>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-md-8 col-md-offset-2">
            <table class="table to-do-table" ng-hide="items==''" >
                <thead>
                <tr>
                    <th>Done?</th>
                    <th>To Do</th>
                    <th class="date">Created</th>
                    <th class="date">Finished</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-class="item.completed ? 'completed' : ''" ng-repeat="item in items | completedFilter:filter">
                        <td><input type="checkbox" ng-model="item.completed" ng-change="updateCompleted(item)" /> </td>
                        <td><span class="itemText">{{item.title}}</span></td>
                        <td>{{item.addDate | date:'dd MMM yyyy'}}</td>
                        <td>{{item.completeDate | date:'dd MMM yyyy'}}</td>
                        <td>
                            <button ng-click="itemRemove(item)" type="button" title="Delete item" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 ng-show="items==''">Loading your ToDo list...</h3>
        </div>
        <div class="col-md-2">
            <h5>Filter:</h5>
            <ul class="list-group filters">
                <li class="list-group-item ng-class: filter == 'all' ? 'active' : ''" ng-click="filter = 'all'">All <span class="badge">{{itemsCount}}</span></li>
                <li class="list-group-item ng-class: filter == true ? 'active' : ''" ng-click="filter = true">Completed <span class="badge">{{itemsCompleted}}</span></li>
                <li class="list-group-item ng-class: filter == false ? 'active' : ''" ng-click="filter = false">Uncompleted <span class="badge">{{itemsNotCompled}}</span></li>
            </ul>
        </div>
    </div>
</div>
<alert-msg visible="modalVisible" item-to-show="deletedItem"></alert-msg>

<!--Scripts section-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js" ></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.firebase.com/js/client/2.2.2/firebase.js"></script>

<!--Angular dependencies-->
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="controllers/main-controller.js"></script>
<script type="text/javascript" src="directives/alert-msg-directive.js"></script>
<script type="text/javascript" src="filters/items-list-filter.js"></script>



</body>
</html>