<div class="modal fade" tabindex="-1" role="dialog" id="alert-msg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ToDo item removed!</h4>
            </div>
            <div class="modal-body">
                <p>Contgrats! You have removed the following item:</p>
                <pre>{{item.title}}</pre>
                <p>Make sure you have really completed this task! Don't fool yourself!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>